body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

li:hover {
  background-color: #f0f0f0;
}

li.purchased {
  text-decoration: line-through;
  background-color: #d9ffd9;
}

.controls {
  margin-top: 20px;
  text-align: center;
}

.controls button {
  margin-right: 10px;
}


li .delete, li .edit
 {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; 
  padding: 6px 10px;
  background-color: #ff6347; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


li:hover .edit,
li:hover .delete {
  display: inline-block;
  background-color: rgb(172, 32, 32);
  
}
#clearBtn {
  background-color: rgb(172, 32, 32);
}